{
  "accessKeys": {
    "MuleSoftHackathonTeam1": "team1",
    "MuleSoftHackathonTeam2": "team2",
    "MuleSoftHackathonTeam3": "team3",
    "MuleSoftHackathonTeam4": "team4",
    "MuleSoftHackathonTeam5": "team5",
    "MuleSoftHackathonTeam6": "team6",
    "MuleSoftHackathonTeam7": "team7",
    "MuleSoftHackathonTeam8": "team8",
    "MuleSoftHackathonTeam9": "team9",
    "MuleSoftHackathonTeam10": "team10"
  }
}
