{
  "accessKeys": {
    "MuleSoft#Team#Hackathon@1": "team1",
    "MuleSoft#Team#Hackathon@2": "team2",
    "MuleSoft#Team#Hackathon@3": "team3",
    "MuleSoft#Team#Hackathon@4": "team4",
    "MuleSoft#Team#Hackathon@5": "team5",
    "MuleSoft#Team#Hackathon@6": "team6",
    "MuleSoft#Team#Hackathon@7": "team7",
    "MuleSoft#Team#Hackathon@8": "team8",
    "MuleSoft#Team#Hackathon@9": "team9",
    "MuleSoft#Team#Hackathon@10": "team10"
  }
}
